page-view-author {
    .centered {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 1em;
	}
	.avatar {
		display: block;
		border-radius: 100%;
		width: auto;
	}
}
